#alert {
    display: none;
    background-color: rgb(252, 219, 219);
    border: 1px solid green;
    position: fixed;
    height: 80px;
    width: 250px;
    left: 40%;
    top: 2%;
    padding: 6px 8px 8px;
    text-align: center;
 }

:root{
    --h-color :  rgb(118, 151, 241);
}
body{
    margin: 0;
    background-color: rgb(245, 245, 245);
}
.Top{
    font-size: large;
}
.Links{
    color: white;
}
.navBar{
    background-color: rgb(118, 151, 241);
    height: 70px;
    padding: 5px;
}
.h2-Nav{
    color: white;
    float: left;
    margin-left: 10px;
}
.divSheet{
    color: white;
    float: right;
    margin-top: 25px;
    margin-right: 10px;
    font-size: large;
}
.Sheet{
    margin-right: 10px;
}

main{
    margin-left: 250px; 
    width: 1000px;
}
hr{
    border: solid var(--h-color);

}
h1,h2{
    color: var(--h-color);
    display: inline;
}
.TablueFormat{
    margin-bottom: 50px;
}
.span{
    color: var(--h-color);
}
.Top{
    color: var(--h-color);
    text-decoration: none;
}